@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #b17539;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  border-bottom: 5px solid gray;
}

p {
  font-family: "MaruBuri-Regular", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 24px;
}

ol {
  font-family: "MaruBuri-Regular", serif;
  list-style-type: none;
  border: 1px solid black;
  width: 280px;
  padding: 50px;
  background-color: lightgray;
}

ul {
  font-family: "MaruBuri-Regular", serif;
}

dl {
  font-family: "MaruBuri-Regular", serif;
}

table {
  font-family: "MaruBuri-Regular", serif;
}

a {
  color: #b17539;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: line-through;
}

a:active {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
}

th,
td {
  border: 1px solid gray;
}

img {
  width: 500;
}

video {
  width: 500;
}
